@using Microsoft.AspNetCore.Identity
@using MyAlbum.Core.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string returnUrl = null;
    var query = ViewContext.HttpContext.Request.Query;
    if (query.ContainsKey("returnUrl"))
    {
        returnUrl = query["returnUrl"];
    }
}

<ul class="navbar-nav flex-grow">
    <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link text-light" href="~/">
            <i class="fas fa-torii-gate"></i> Explore
        </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-light" href="~/worldmap">
            <i class="fas fa-globe"></i> World Map
        </a>
    </li>    
    <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-light" href="~/photos/new">
            <i class="fas fa-plus"></i> Add Photo
        </a>
    </li>    
    @if (SignInManager.IsSignedIn(User))
    {        
        <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString().IndexOf("Account/Manage") >= 0 ? "link-active" : "")">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="fas fa-user-cog"></i> Manage
            </a>
        </li>
        <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString().IndexOf("Account/Logout") >= 0 ? "link-active" : "")">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button type="submit" class="nav-link btn btn-link text-light">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString().IndexOf("Account/Register") >= 0 ? "link-active" : "")">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">
                <i class="fas fa-user-plus"></i> Register
            </a>
        </li>
        <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString().IndexOf("Account/Login") >= 0 ? "link-active" : "")">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">
                <i class="fas fa-sign-in-alt"></i> Login
            </a>
        </li>
    }
</ul>
